@CHARSET "UTF-8";

.dbody{
	width:100%;
}

.dbodyin{
	width:80%;
	margin: 0 auto;
}
.editMessage{
	display	:	none;
}

.formname{
	margin:5px;
	padding:0 10px 0 0;
	font-weight: bold;
	border-radius:10px;
	border:1px solid white;
	border-bottom:1px solid gray;
	border-right:1px solid gray;
  background: orange;
   padding:5px;

}

.user .left {
	float:left;
	width:58%;
}

.user .right {
	width:38%;
	float:left;
	margin:5px;
}


.formbody{
	width:80%;
	margin: 0 auto;
	padding: 2px;
	border-radius:10px;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	background: #cecece;

}
.top{
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	margin :10px;
}

.attention{
	font-size: 0.7em;
}

.hide{
	visibility: hidden;
}

.dispnone{
	display: none;
}

.user{
	background: #eee;
	border-radius:15px;
	padding:10px;
	margin:10px;
	width:100%;
	height:220px;
}

.iconDiv{
	position:relative;
	width:220px;
	height:220px;
	float:left;
}

.iconDiv img{
	margin:auto;
	max-height:200px;
	max-width:200px;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
}

.user .name{
	font-size:1.2em;
	font-weight:bold;
	margin:5px;
}

.user .prof{
	margin:5px;
}

.margin5{
	margin:5px;
}

.abutton{
	padding:1px 5px;
	text-decoration:none;
	color:white;
	background:orange;
	border-radius:15px;
	border-top:solid 1px #eee;
	border-left:solid 1px #eee;
	border-right:solid 1px #aaa;
	border-bottom:solid 1px #aaa;
}
